@inject ICurrentUsers _currentuser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="https://demo.harnishdesign.net/html/quickai/images/favicon.png" rel="icon">

    <title>Veemaan</title>
    <meta name="description" content="Wing Travel - Recharge &amp; Bill Payment, Booking HTML5 Template">
    <meta name="author" content="harnishdesign.net">
    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>
    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css" />
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" />

    <script src="/js/jquery.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-spinner.js"></script>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader"><div data-loader="dual-ring"></div></div><!-- Preloader End -->
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">
        <!-- Header
        ============================================= -->
        <header id="header">
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-start">

                        <!-- Logo
                        ============================================= -->
                        <div class="logo">
                            <a href="#" class="navbar-brand">
                                <small>
                                    <i class="fa fa-leaf"></i>
                                    VEEMAAN
                                </small>
                            </a>
                        </div>
                        <!-- Logo end -->

                    </div>
                    <div class="header-column justify-content-end">
                        <!-- Primary Navigation
                        ============================================= -->
                        <nav class="primary-menu navbar navbar-expand-lg">
                            <div id="header-nav" class="collapse navbar-collapse">
                                <ul class="navbar-nav" id="panelSideMenu">
                                </ul>

                            </div>
                        </nav>
                        <!-- Primary Navigation end -->
                        <!-- Collapse Button
                        =============================== -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>

                        <!-- Login Signup
                        =============================== -->
                        <nav class="login-signup navbar navbar-expand separator ml-sm-2 pl-sm-2">
                            <ul class="navbar-nav">
                                <li class="profile">
                                    <a class="pr-0" style="color:black!important;" href="/Customer/CustomerWalletReport" title="Login / Sign up">
                                        <span class="d-none d-sm-inline-block">
                                            Wallet Amt: @_currentuser.WalletBalance.ToString("C", _currentuser.cultureInfo)
                                        </span>

                                    </a>
                                </li>
                                <li class="dropdown profile">
                                    <a class="dropdown-toggle" href="#">
                                        <span class="user-icon ml-sm-2">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <span class="user-info">
                                                <small>Welcome,</small>
                                                @_currentuser.Name
                                            </span>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="~/Customer/CustomerChangePassword">
                                                <i class="ace-icon fa fa-cog"></i>
                                                Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="profile.html">
                                                <i class="ace-icon fa fa-user"></i>
                                                Profile
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <form action="~/Account/Logout" method="post" id="frmLogout"></form>
                                            <a class="dropdown-item" href="#" onclick="document.getElementById('frmLogout').submit();">
                                                <i class="ace-icon fa fa-power-off"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->
        <!--content start-->
        @RenderBody()
        <!--content end-->
        <!-- Footer
        ============================================= -->
        <footer id="footer">
            <section class="section bg-white shadow-md pt-4 pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
                                <h4>100% Secure Payments</h4>
                                <p>Moving your card details to a much more secured place.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
                                <h4>Trust pay</h4>
                                <p>100% Payment Protection. Easy Return Policy.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
                                <h4>Refer & Earn</h4>
                                <p>Invite a friend to sign up and earn up to $100.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
                                <h4>24X7 Support</h4>
                                <p>We're here to help. Have a query and need help ? <a href="#">Click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="footer-copyright">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a class="nav-link active" href="#">About Us</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Faq</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Support</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Terms of Use</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Privacy Policy</a> </li>
                    </ul>
                    <p class="copyright-text">Copyright © 2021 <a href="#">Wing Travel</a>. All Rights Reserved.</p>
                </div>
            </div>
        </footer><!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/toastr.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
   

    <script src="~/js/SideMenuNew.js" asp-append-version="true"></script>
    <script src="/js/theme.js"></script>
    <script>
       
        $(function () {
            'use strict';
            $('.select2').select2({ allowClear: true });

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)



    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script>
        var mustAcceptCookies = false;
    </script>
    @{
        var consentFeature = Context.Features.Get<Microsoft.AspNetCore.Http.Features.ITrackingConsentFeature>();
        if (!consentFeature?.CanTrack ?? false)
        {
            <script>
                mustAcceptCookies = true;
            </script>
        }
    }

</body>
</html>
