<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WingGateway</title>
    <!-- Boot strap Css -->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body hold-transition skin-blue sidebar-mini>
    <div class="wrapper">
        <!-- Navbar -->
        @{
            await Html.RenderPartialAsync("_TopMenu");
        }
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @{
            await Html.RenderPartialAsync("_SideMenu");
        }


        @*<div class="container">*@
        <div class="content-wrapper">
            @{
                await Html.RenderPartialAsync("_TopTitle");
            }
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>



        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong id="lblDataStatus"></strong>
            <strong>Copyright &copy; 2021-2022 <a href="#">TravelWing</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("dataTableScripts", required: false)
    <!-- Select2 -->
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/lib/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/lib/plugins/moment/moment.min.js"></script>
    <script src="~/lib/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/lib/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/lib/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>

    <script src="~/js/MasterDatabase.js"></script>
    <script src="~/js/customeWorker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
