@model B2bApplication.Models.mdlFlightSearch
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] =  enmDocumentMaster.Flight.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" value="@(enmDocumentMaster.Flight)" id="_currentDocument" name="_currentDocument" />

<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Search Flight</h4>                
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <label for="id-date-picker-1">Date Picker</label>

                    

                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="space space-8"></div>
                    <label>Range Picker</label>

                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-daterange input-group">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">
                                    <i class="fa fa-exchange"></i>
                                </span>

                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>
                    </div>

                    <hr />
                    <label for="id-date-range-picker-1">Date Range Picker</label>

                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>

                                <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" />
                            </div>
                        </div>
                    </div>

                    <hr />
                    <label for="timepicker1">Time Picker</label>

                    <div class="input-group bootstrap-timepicker">
                        <input id="timepicker1" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o bigger-110"></i>
                        </span>
                    </div>

                    <hr />
                    <label for="date-timepicker1">Date/Time Picker</label>

                    <div class="input-group">
                        <input id="date-timepicker1" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>