@model WingGateway.Models.mdlChangePassword
@using Database
@{
    ViewData["Title"] = Database.enmDocumentMaster.Gateway_ChangePassword.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">

            <form action="@Url.Action()" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" placeholder="Enter Old Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" placeholder="Enter New Password" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ConfirmNewPassword"></label>
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Enter New Password" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-info" type="reset">
                        @*<i class="ace-icon fa fa-undo bigger-110"></i>*@
                        Reset
                    </button>
                </div>



            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
        bsCustomFileInput.init();
        });
    </script>
}
