@model WingGateway.Models.mdlContact
@using Database
@{
    ViewData["Title"] = Database.enmDocumentMaster.Gateway_Contact.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">

            <form action="@Url.Action()" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>



                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MobileNo"></label>
                                <input asp-for="MobileNo" class="form-control" placeholder="Permanent Mobile No." />
                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="OTP"></label>
                                <input asp-for="OTP" class="form-control" placeholder="OTP" />
                                <span asp-validation-for="OTP" class="text-danger"></span>
                                <button type="submit" class="btn btn-primary">Get OTP</button>
                            </div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AlternateMobileNo"></label>
                                <input asp-for="AlternateMobileNo" class="form-control" placeholder="Alternate Mobile No." />
                                <span asp-validation-for="AlternateMobileNo" class="text-danger"></span>
                            </div>
                        </div>


                    </div>


                    <div class="card-footer">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

</form>

        </div>
    </div>
</div>

@section Scripts {    
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
        bsCustomFileInput.init();
        });
    </script>
}