<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B2C</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/owl/docs.theme.min.css">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    
</head>
<body>
    <header>
        @{
            await Html.RenderPartialAsync("_TopMenu");
        }

    </header>

    @RenderBody()


    <footer>
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-logo">
                        <h3>Veemaan</h3>
                        <p>It's all about travel...</p>
                    </div>
                    <div class="social-media">
                        <!-- <a href="">
                            <img src="~/images/svg/facebook-icon.svg" >
                        </a>
                        <a href="">
                            <img src="~/images/svg/instagram-icon.svg" >
                        </a>
                        <a href="">
                            <img src="~/images/svg/twitter-icon.svg" >
                        </a>
                        <a href="">
                            <img src="~/images/svg/linkedin-icon.svg" >
                        </a> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <h4>Contact us</h4>
                        <a href="tel:0124-45454545">0124-45454545</a>
                        <a href="mailto:support@veemaan.com">support@veemaan.com</a>
                        <address>
                            9899 W, Cyber City, Gurugram Harayan (India)
                        </address>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div>
                        <h4>Company</h4>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Sitemap</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div>
                        <h4>Quick links</h4>
                        <ul>
                            <li><a href="">Flight</a></li>
                            <li><a href="">Train</a></li>
                            <li><a href="">Bus</a></li>
                            <li><a href="">Hotel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 copyright">
                    Copyright &COPY; 2021. All rights reserved.
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="/js/owl/owl.carousel.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
        localStorage.setItem('rootUrl', 'http://103.208.201.116:8020/api/');
    </script>
    <!-- javascript -->
    <!-- <script src="js/owl/jquery.min.js"></script> -->

    @await RenderSectionAsync("Scripts", required: false)




</body>
</html>
