@inject B2C.Classes.ICurrentUsers _currentuser

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"><img src="/images/logo.png" alt="VEEMAAN" title="VEEMAAN" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/Index">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Search<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/Flight">Flight</a></li>
                        <li><a href="/Home/Hotel">Hotel</a></li>
                        <li><a href="/Home/Holiday-Package">Holiday Package</a></li>
                    </ul>
                </li>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Report<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Home/Flight">Booking </a></li>
                    <li><a href="/Home/Hotel">Incentive </a></li>
                    <li><a href="/Home/Holiday-Package">Distributor</a></li>
                </ul>
            </li>

                }
                else
                {
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Web Checking</a></li>
                }

            </ul>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user "></span> @_currentuser.Name</a>
                <ul class="dropdown-menu login-drop">
                    <li>
                        <input type="text" placeholder="UserName">
                    </li>
                    <li>
                        <input type="text" placeholder="Password">
                    </li>
                    <li>
                        <input type="submit" value="Login">
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Signout</a></li>
        </ul>
            }
            else
            {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>            
        </ul>
            }

        
        </div>
    </div>
</nav>