@using Database
@{
    ViewData["Title"] = Database.enmDocumentMaster.Gateway_ChangePassword.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Password changed successfully</h3>