@model mdlPaymentRequest

@using B2BClasses.Services.Enums

@{
    ViewData["Title"] = enmDocumentMaster.CreditRequest.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-12">
            <!-- PAGE CONTENT BEGINS -->
            <form action="@Url.Action()" method="post">

                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">@ViewData["Title"]</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerID"></label>
                                        <select asp-for="CustomerID" class="form-control select2" asp-items="ViewBag.CustomerCodeList">
                                        </select>
                                        <span asp-validation-for="CustomerID" class="text-danger"></span>


                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CreditAmt"></label>
                                        <input asp-for="CreditAmt" class="form-control" />
                                        <span asp-validation-for="CreditAmt" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>




                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select asp-for="RequestType" class="form-control select2">
                                            @foreach (var data in Enum.GetValues(typeof(enmRequestType)))
                                            {
                                                <option value="@(data)">@data.ToString() </option>
                                            }
                                        </select>
                                        <span asp-validation-for="RequestType" class="text-danger"></span>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Remarks"></label>
                                        <input asp-for="Remarks" class="form-control" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>


                                    </div>
                                </div>



                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="UploadImages"></label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input asp-for="UploadImages" class="custom-file-input" accept="image/x-png,image/jpeg" multiple />
                                                <label class="custom-file-label" asp-for="UploadImages">Choose file</label>
                                            </div>
                                        </div>
                                        <span asp-validation-for="UploadImages" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Submit
                                            </button>

                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn" type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>



</div>

@section Scripts {

}