
@model mdlCustomerChangePassword
@using B2BClasses.Services.Enums

@{
    ViewData["Title"] = enmDocumentMaster.ChangePassword.GetDocumentDetails().Name;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}
<!-- PAGE CONTENT BEGINS -->

<div class="content">
    <div class="bg-primary pt-4 pb-5">
        <div class="container">
            <div class="bg-white shadow-md rounded p-3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">

                            <form action="@Url.Action()" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="widget-box m-2">
                                    <div class="widget-header">
                                        <h4 class="widget-title">@ViewData["Title"]</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="Password"></label>
                                                        <input asp-for="Password" class="form-control" placeholder="Old Password" />
                                                        <span asp-validation-for="Password" class="text-danger"></span>
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="NewPassword"></label>
                                                        <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="ConfirmNewPassword"></label>
                                                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm Password" />
                                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="clearfix form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button class="btn btn-primary" type="submit">
                                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                                Change Password
                                                            </button>
                                                            &nbsp;
                                                            <button class="btn btn-primary" type="reset">
                                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                                Reset
                                                            </button>
                                                            &nbsp;

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>