@model WingGateway.Models.mdlRegistration

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Travel</b>Wing</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form asp-action="Registration">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="TcNId" class="form-control" type="hidden" />
                <input asp-for="TcId" class="form-control" type="hidden" />
                <input asp-for="CaptchaData.SaltId" class="form-control" type="hidden" />
                <input asp-for="CaptchaData.CaptchaImage" class="form-control" type="hidden" />
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="SpTcId" class="form-control" placeholder="SponsorId" autofocus />
                        <span asp-validation-for="SpTcId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <select asp-for="gender" class="form-control select2">
                            <option value="">Choose Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <input asp-for="first_name" placeholder="First Name" class="form-control" />
                        <span asp-validation-for="first_name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="middle_name" placeholder="Middle Name" class="form-control" />
                        <span asp-validation-for="middle_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="last_name" placeholder="Last Name" class="form-control" />
                        <span asp-validation-for="last_name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">

                        <input asp-for="husband_father_name" placeholder="Husband/Father Name" class="form-control" />
                        <span asp-validation-for="husband_father_name" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <input asp-for="PhoneNo" placeholder="Phone No" class="form-control" />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmailAddress" placeholder="Email" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input id="dob" asp-for="Dob" asp-format="{0:dd-MMM-yyyy}" type="text" placeholder="Date of Birth" class="form-control"
                               onfocus="(this.type='date')" onblur="(this.type='text')" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">

                        <input asp-for="address_line1" placeholder="Address Line 1" class="form-control" />
                        <span asp-validation-for="address_line1" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="address_line2" placeholder="Address Line 2" class="form-control" />
                        <span asp-validation-for="address_line2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <select id="ddl_country_id" asp-for="country_id" class="form-control select2">
                        </select>
                        <span asp-validation-for="country_id" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <select id="ddl_state_id" asp-for="state_id" class="form-control select2">
                            <option value="">Select State</option>
                        </select>
                        <span asp-validation-for="state_id" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">

                        <input asp-for="Pincode" placeholder="Pincode" class="form-control" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="CaptchaData.CaptchaCode" class="form-control" placeholder="Captcha" />
                        <span asp-validation-for="CaptchaData.CaptchaCode" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.CaptchaData.CaptchaImage))" />
                        <a asp-action="Registration"><img src="~/dist/img/refresh.png" style="width:40px;height:40px" /> </a>
                    </div>

                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>

            <p class="mb-1">
                <a asp-action="Login">I already have a membership</a>
            </p>
        </div>

        <div>

        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CountryState.js"></script>
    
    }
